* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/

section {
  margin-top: 130px;
}

.btn {
  display: inline-block;
  padding: 1.9rem 3.5rem;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.btn--orange {
  background: #fd6e0a;
  color: #fff !important;
}

.btn--transparent {
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
}

.section-heading {
  color: var(--dark-01, #181818);
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: var(--dark-03, #757575);
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.mb-md {
  margin-bottom: 30px;
}

/**************************/
/* NAVIGATION */
/**************************/
.header {
  position: relative;
  background: #fff8f3;
  padding: 0 0 0 22.6rem;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.dev-bg {
  position: absolute;
  top: 38px;
  left: 23px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 22.6rem 5rem 0;
}

.header a {
  text-decoration: none;
}

.logo {
  color: #181818;
  font-size: 4.5rem;
  font-weight: 800;
}

.logo span {
  color: #fd6e0a;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.main-nav-list li {
  list-style: none;
}

.main-nav-link {
  color: var(--dark-02, #474747);
  font-size: 2rem;
}

/**************************/
/* BANNER */
/**************************/
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  display: flex;
  max-width: 585px;
  flex-direction: column;
  flex-shrink: 0;
}

.banner-subheading {
  color: var(--dark-02, #474747);
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.banner-heading {
  color: var(--dark-01, #181818);
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-description {
  color: var(--dark-03, #757575);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

.banner-btns {
  display: flex;
  align-items: center;
  gap: 30px;
}

.banner-img {
  width: 58.4rem;
  height: 67.6rem;
  flex-shrink: 0;
}

.banner-btns .btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

/**************************/
/* MAIN */
/**************************/
.main {
  max-width: 1140px;
  margin: 0 auto;
}

/**************************/
/* ABOUT */
/**************************/
.section-about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 131px 156px;
  text-align: center;
}

.contact-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact {
  font-size: 20px;
}

.contact-label {
  color: #757575;
  line-height: 30px;
}

.contact-info {
  color: rgba(71, 71, 71, 1);
  font-weight: 700;
}

/**************************/
/* SKILLS */
/**************************/
.section-skills {
  text-align: center;
}

.skills-description {
  margin-bottom: 50px;
  padding: 0 140px;
}

.skills-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  text-align: left;
}

.skill {
  border-radius: 5px;
  padding: 30px 33px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-img {
  width: 44px;
  height: 44px;
  margin-bottom: 38px;
}

.skill-title {
  color: var(--dark-01, #181818);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.skill-description {
  color: var(--dark-03, #757575);
  font-size: 16px;
  line-height: 28px;
}
